
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


/* top players styles */
.top-players{
    margin-bottom: 30px;
}
.section-title{
        color: #562EFF;
        margin-top: 3px;
        font-size: 24px;
}

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.player img{
    width: 56px;
    height: 56px;
}
.player{
    display: flex;
    align-items: center;
    }
    .players-name{
        margin-left: 16px;
        font-size: 18px;
    }
/* common styles */
body{
    font-family: 'Poppins', sans-serif;
   background-color: #F3F1FF;
}
main{
    display: flex;
    flex-direction: column;
   align-items: center;
}
.container{
    background-color: #FFFFFF;
    width: 870px;
    padding-top: 30px;
    padding-left: 25px;
    margin-top: 21px;
    border-radius: 5px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}
/* top blogs styles */
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}
.blog{
    display: flex;
}
.blog .thumbnail img{
    width: 177px;
    height: 177px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    color:#9F9F9F;
    font-size: 16px;
}
.blog-author a{
    text-decoration: none;
    color: #562EFF;
    font-size: 16px;
}
/* --------------
courses styles 
------------------*/
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    
}
.courses, .course{
    box-shadow:0px 5px 20px rgba(216, 196, 196, 0.774);
       
        border-radius: 3px;
        margin-top: 3px;
       
        margin-bottom: 3px;
}
.courses .course-banner img{
    width: 256px;
    height: 141px;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FCC014;
}
.fa-star.Tgf{
    
    color: #9F9F9F;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.course-duration{
    background: #FFE4E8;
    border-radius: 25px solid #e4c8cc;
}
.fa-clock{
    color: 
#FFE4E8;
}

/* media queries */
@media only screen and (max-width:688px) {
    .container{
        width: 100px;
    }
    .player, .blog{
        flex-direction: column;

    }
    .players, .blogs, .courses{
        
        grid-template-columns: repeat(1, 1fr);
    }
      
}
@media only screen and (min-width:688px) and (max-width:922px) {

    
}


